


body {
    background-color: rgb(253, 247, 247);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ul-navbar {
    color: rgb(12, 12, 12);
}


.container-content{
    
}

.img-content{
    width: 600;
    height: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
